@use './styles/variables' as *;

body {
  font-family: var(--font-family);
}

.appContainer {
  background-color: var(--color-background);
  min-height: 100vh;
}

@media (min-width: 64em) {
  .appContainer {
    padding: 1rem;
  }
}

