.container {
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 3rem; /* Adjust the size as needed */
    animation: blink 1s infinite;
}

.footer {
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}